.error-page {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.error-fact {
  color: #0077b6;
  text-align: center;
  font-size: 3rem;
  font-family: "Life Savers", sans-serif;
  font-weight: bold;
}

.error-page-btn-container {
  display: flex;
  justify-content: center;
}

.error-page-btn {
  font-family: "Eczar", sans-serif;
  font-size: 1.25rem;

  width: fit-content;
  padding: 0.5rem 1rem;

  border: none;
  border-radius: 2rem;
  background-color: #12130f;
  color: #f5f0f6;

  cursor: pointer;
}
