/*
  * Fonts: Eczar, Life Savers
  * Colour Pallette: https://coolors.co/12130f-e55934-0077b6-52b788-f5f0f6
  * Yellow colour: #f4d35e
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f0f6;
  color: #12130f;
  padding: 0.25rem 10rem;
}

h1 {
  color: #0077b6;
  font-family: "Eczar", serif;
  font-weight: 800;
  font-size: 7.5rem;
  text-transform: capitalize;
  text-align: center;
}

h2 {
  color: #52b788;
  font-family: "Eczar", serif;
  text-align: center;
}

.orange-text {
  color: #e55934;
}

.blue-text {
  color: #0077b6;
}

button {
  background-color: #52b788;
  border-radius: 30px;
  border-style: none;
  box-shadow: #12130f 6px 5px 1px 0px;

  padding: 1rem 2rem;
  font-family: "Eczar", serif;
  font-size: 1.5rem;

  cursor: pointer;
}
