.welcome-page-description {
  margin: 0;
  font-family: "Life Savers", serif;
  font-size: 2rem;
  font-weight: 500;
}

.welcome-page-description span {
  font-weight: bold;
}

.amber-text {
  color: #f3b700;
}

.green-text {
  color: #52b788;
}

.play-btn-container {
  display: flex;
  justify-content: center;
  /* margin-top: 10rem; */
}
